SQL_SERVER=your_server.database.windows.net
SQL_DATABASE=cloud_homework
SQL_USER=your_username
SQL_PASSWORD=your_password
SQL_DRIVER={ODBC Driver 18 for SQL Server}
RAWG_KEY=your_rawg_api_key

KEY_VAULT_URL=https://your-vault-name.vault.azure.net/