SQL_SERVER=cloud-homework.database.windows.net
SQL_DATABASE=cloud-homework
SQL_USER=petru@mariailademgmail.onmicrosoft.com
SQL_PASSWORD=Tofa563775
SQL_DRIVER={ODBC Driver 17 for SQL Server}
RAWG_KEY=b6d0738feb7240aeab1f698cf1f9aa8f